{% extends 'base.html.twig' %}

{% block title %}New Lieu{% endblock %}

{% block body %}
    <h1>Créer un nouveau lieu</h1>

    {{ form_start(form)}}
    {{ form_row(form.nom) }}
    {{ form_row(form.rue) }}
    {{ form_row(form.latitude) }}
    {{ form_row(form.longitude) }}
    {{ form_row(form.ville) }}

    <button class="btn">{{ button_label|default('Créer un lieu') }}</button>
    {{ form_end(form) }}


    <a href="{{ path('lieu_index') }}">back to list</a>
{% endblock %}
