{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block body %}
    <h1>Lieu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ lieu.nom }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ lieu.rue }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ lieu.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ lieu.longitude }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lieu_index') }}">Retour à la liste</a>

    <a href="{{ path('lieu_edit', {'id': lieu.id}) }}">Modifier</a>
    <a href="{{ path('lieu_delete', {'id': lieu.id}) }}">Supprimer</a>


{% endblock %}
