{% extends 'base.html.twig' %}

{% block body %}
<h2>{{ app.user.pseudo }}</h2>

    <ul>
        <li>Prénom : {{ participant.prenom }}</li>
        <li>Nom : {{ participant.nom }}</li>
        <li>Téléphone : {{ participant.telephone }}</li>
        <li>Email : {{ participant.email }}</li>
        <li>Campus : {{ participant.campus.nom }}</li>
    </ul>
    <a href="{{ path('participant_update', {'id': app.user.id}) }}">Modifier profil</a>
    <a href="{{ path('accueil') }}">Retour</a>
{% endblock %}

{% block title %}

{% endblock %}

