{% extends 'base.html.twig' %}

{% block body %}
<h2>{{ app.user.pseudo }}</h2>

    <ul>
        <li>Prénom : {{ app.user.prenom }}</li>
        <li>Nom : {{ app.user.nom }}</li>
        <li>Téléphone : {{ app.user.telephone }}</li>
        <li>Email : {{ app.user.email }}</li>
        <li>Campus : {{ app.user.campus }}</li>
    </ul>
    <a href="{{ path('accueil') }}">Retour</a>
{% endblock %}

{% block title %}

{% endblock %}

