{% extends 'base.html.twig' %}

{% block title %}Liste Participants{% endblock %}

{% block body %}
    <header>
        <div>
            <p>Date du jour : {{ "now" | date('d/m/Y') }}</p>
            <p>Participant : {{ app.user.prenom }}  {{ app.user.nom | slice(0,1)~"." }}</p>
        </div>
    </header>
    <main>
        <a href="{{ path('app_register') }}" class="btn btn-outline-info">Créer un participant</a><br>
        {# TABLEAU PARTICIPANT #}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Pseudo</th>
                <th scope="col">Email</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Campus</th>
                <th scope="col">Administrateur</th>
                <th scope="col">Actif</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for participant in listeParticipants %}
            <tr>
                <td>{{ participant.nom }}</td>
                <td>{{ participant.prenom }}</td>
                <td>{{ participant.pseudo }}</td>
                <td>{{ participant.email }}</td>
                <td>{{ participant.telephone }}</td>
                <td>{{ participant.campus.nom }}</td>
                <td>{{ participant.administrateur }}</td>
                <td>{{ participant.actif }}</td>

                <td>
                    <a href="{{ path('participant_listeParticipants', {'id': participant}) }}" class="text-info">Désactiver</a>
                    <a href="{{ path('participant_delete', {'id': participant.id}) }}" class="text-info">Supprimer</a>
                    <a href="{{ path('app_register') }}" class="text-info">Créer un participant</a><br>
                </td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </main>
{% endblock %}