{% extends 'base.html.twig' %}

{% block title %}Modifier Profil{% endblock %}

{% block body %}
    <h1>Mon profil</h1>

    {{ form_start(formulaire) }}

    {{ form_row(formulaire.pseudo) }}
    {{ form_row(formulaire.prenom) }}
    {{ form_row(formulaire.nom) }}
    {{ form_row(formulaire.telephone) }}
    {{ form_row(formulaire.email) }}
    {{ form_row(formulaire.password.first) }}
    {{ form_row(formulaire.password.second) }}
    {{ form_row(formulaire.campus) }}

    {{ form_row(formulaire.images) }}



    <button type="submit" class="btn btn-outline-info">Enregistrer</button>
    <a href="{{ path('accueil') }}" class="btn btn-outline-info">Retour</a>

    {{ form_end(formulaire) }}

{% endblock %}


