{% extends 'base.html.twig' %}

{% block title %}Nouveau Participant{% endblock %}

{% block body %}
    <h1>Mon profil</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.telephone) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password.first) }}
        {{ form_row(registrationForm.password.second) }}

        {{ form_row(registrationForm.administrateur, {
            label: 'Administrateur:'
                }) }}
        {{ form_row(registrationForm.campus) }}
        {{ form_row(registrationForm.actif, {
        label: 'Actif:'
                 }) }}
        {{ form_row(registrationForm.images) }}

    <button type="submit" class="btn" class="btn btn-outline-info">Créer profil</button>
    {{ form_end(registrationForm) }}
{% endblock %}
