{% extends 'base.html.twig' %}

{% block title %}Nouvelle Sortie{% endblock %}

{% block body %}
    <h1>Créer une Sortie</h1>


    {{ form_start(formS,{'attr':{'id': 'formS'}}) }}
    {{ form_row(formS.nom) }}
    {{ form_row(formS.dateHeureDebut) }}
    {{ form_row(formS.dateLimiteInscription) }}
    {{ form_row(formS.nbInscriptionsMax) }}
    {{ form_row(formS.duree) }}
    {{ form_row(formS.infosSortie) }}

    {{ app.user.campus.nom }}
    {{ form_row(formS.ville) }}
    {{ form_row(formS.lieu) }}

    {{ form_end(formS) }}

    <button onclick="enregistrer()" name="newSortie" id="enregistrer" value="0">Enregistrer</button>
    <button onclick="publier()" name="newSortie" id="publier" value="1">Publier</button>
    <a href="{{ path('sortie_index') }}">Annuler</a>


    <script>
       function enregistrer(){
            console.log(0);
            document.querySelector("#formS").submit();
        }
       function publier(){
            console.log(1);
            document.querySelector("#formS").submit();
        }


    </script>


{% endblock %}


