{% extends 'base.html.twig' %}

{% block title %}Nouvelle Sortie{% endblock %}

{% block body %}
    <h1>Créer une Sortie</h1>

    {{ form_start(formS,{'attr':{'id': 'formS'}}) }}
    {{ form_row(formS.nom) }}
    {{ form_row(formS.dateHeureDebut) }}
    {{ form_row(formS.dateLimiteInscription) }}
    {{ form_row(formS.nbInscriptionsMax) }}
    {{ form_row(formS.duree) }}
    {{ form_row(formS.infosSortie) }}

    {{ app.user.campus.nom }}

    <label class="form-label"  for="ville">Ville</label>
    <select class="form-control" name="ville" id="ville" onchange="changeVilles()">
    </select>

    <label class ="form-label"  for="lieu">Lieu</label>
    <select class="form-control" name="lieu" id="lieu">
        {# Ici, on alimente #}
    </select>



    <a href="{{ path('lieu_new') }}"><img src="{{ asset('img/bouton_plus.png') }}" alt=""></a> {# TODO Qu'est ce que c'est? #}

    {{ form_end(formS) }}

    <button onclick="enregistrer()" name="newSortie" id="enregistrer" value="0" class="btn btn-outline-info">Enregistrer</button>
    <button onclick="publier()" name="newSortie" id="publier" value="1" class="btn btn-outline-info">Publier</button>
    {#  <a href="{{ path('sortie_index') }}">Annuler</a> #}

    <script>
       function enregistrer(){
            console.log(0);
            document.querySelector("#formS").submit();
        }
       function publier(){
            console.log(1);
            document.querySelector("#formS").submit();
        }



        // PARTIE VILLE / LIEUX

            let lieux =[];
           function changeVilles()
           {
                //je recupere l'id de la ville a partir du select
               let villeId = document.querySelector('#ville').value;
               //j affiche lieu par rapport a l id de la ville
               afficherLieux(villeId);
           }
           //-----------------------------------
           function afficherLieux(villeId)
           {
               //je selectionne le lieu a partir du select
               let selectLieux = document.querySelector('#lieu');
               //je vide le select des valeur precedentes
               selectLieux.innerHTML ='';
               // je parcours les lieux pour trouver la bonne ville
               for (let l of lieux)
           {
                //je compare l'id de la ville recupérer par le select et l'idVille dans la table lieu
               if(villeId == l.ville){
                   //je créer la balise option
               let option = document.createElement('option');
               //je lui applique la valeur lieu.id
               option.setAttribute('value',l.id);
               //je lui dit d'afficher le lieu.nom
               option.textContent = l.nom;
               //j applique au select la nouvelle balise option
               selectLieux.appendChild(option);

           }
           }}

           function afficherVille(tab) {
               //je parcours les ville du tableau
               for (v of tab) {
                   //je créer la balise option
                   let option = document.createElement('option');
                   //je lui applique la valeur ville.id
                   option.setAttribute('value', v.id);
                   //je lui dit d'afficher ville.nom dans la balise
                   option.textContent = v.nom;
                   //j applique au select la nouvelle balise option
                   document.querySelector('#ville').appendChild(option);
               }
           }






           let url ="newLiaison";
           fetch(url)
                .then( response => response.json())
                .then(
                    //je créer un objet contenant le tableau de ville et le tableau de lieu
                    objet => {
                        let villeId = objet.ville[0].id;
                        lieux = objet.lieu;
                        afficherLieux(villeId);
                        afficherVille(objet.ville);
       });
    </script>
{% endblock %}


