{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header>

        {#  IMAGE  #}
        <img src="{{ asset('img/image_accueil.png') }}" id="img_accueil" class="img-fluid" alt="Responsive image">

        <div>
            <p>Date du jour : {{ "now" | date('d/m/Y H:i') }}</p>
            <p>Participant : {{ app.user.prenom }}  {{ app.user.nom | slice(0,1)~"." }}</p>
        </div>
    </header>
    <main>

        <div>
            <h2>Filtrer les sorties</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit">Rechercher</button>
            {{ form_end(form) }}
        </div>
        <hr>

        <a href="{{ path('sortie_new', {'id': app.user.id}) }}" class="btn btn-outline-info">Créer une sortie</a><br>

        {# TABLEAU SORTIES #}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Lieu - Ville</th>
                <th scope="col">Date sortie</th>
                <th scope="col">Date clôture sortie</th>
                <th scope="col">Inscrits / Places restantes</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for sortie in sorties %}
                <tr>
                    <th scope="row">{{ sortie.nom }}</th>
                    <td>{{ sortie.lieu.nom }} - {{ sortie.lieu.ville.nom }}</td>
                    <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|format_datetime('short', 'short', locale='fr') : '' }}</td>
                    <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y') : '' }}</td>
                    <td>{{ sortie.participants.count }} / {{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle}}</td>
                    <td>
                        {% if sortie.participants.contains(app.user) %}
                            <p>X</p>
                        {% endif %}
                        </td>

                       {% if not sortie.organisateur.pseudo %}
                           <td><a href= "{{ path('participant_afficherProfil', {'id': sortie.organisateur.id}) }}" class="text-info">{{sortie.organisateur.prenom }} {{ sortie.organisateur.nom | slice(0,1)~"." }}</a></td>
                       {% else %}
                           <td><a href="{{ path('participant_afficherProfil', {'id': sortie.organisateur.id}) }}" class="text-info">{{sortie.organisateur.pseudo }} </a></td>
                       {% endif %}

                        <td>
                            {% if (app.user.id == sortie.organisateur.id) or ( is_granted('ROLE_ADMIN')) %}
                                <a href="{{ path('sortie_edit', {'id': sortie.id}) }}" class="btn btn-outline-info">Modifier</a>
                                <a href="{{ path('sortie_publier', {'id': sortie.id}) }}" class="btn btn-outline-info">Publier</a>
                                <a href="{{ path('sortie_annuler', {'id': sortie.id}) }}" class="btn btn-outline-danger">Annuler</a>
                            {% endif %}

                            <a href="{{ path('sortie_show', {'id': sortie.id}) }}" class="btn btn-outline-info">Afficher</a>

                            {% if sortie.participants.contains(app.user) %}
                                <a href="{{ path('_seDesister', { id : sortie.id}) }}" class="btn btn-outline-danger">Se désister</a>
                            {% else %}
                                <a href="{{ path('_sinscrire', { id: sortie.id}) }}" class="btn btn-outline-info">S'inscrire</a>
                            {% endif %}

                        </td>

                    </tr>
                {% else %}
                    <p>Aucune sortie</p>
                {% endfor %}
            </tbody>
        </table>

    </main>
{% endblock %}
