{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <header>
        <div>
            <p>Date du jour : {{ "now" | date('d/m/Y') }}</p>
            <p>Participant : {{ app.user.prenom }}  {{ app.user.nom | slice(0,1)~"." }}</p>
        </div>
    </header>
    <main>
        <div>
            <h2>Filtrer les sorties</h2>
            <div>
                <label for="campus">Campus</label>
                <select name="campus" id="campus"></select><br>
                <label for="site-search">Le nom de la sortie contient:</label>
                <input type="search" id="site-search" name="q"><br>
            </div>
            <div>
                <label for="dateDepartRecherche">Entre</label>
                <input type="date" id="dateDepartRecherche" name="dateDepartRecherche">
                <label for="dateFinRecherche"> et </label>
                <input type="date" id="dateFinRecherche" name="dateFinRecherche">
            </div>
            <div>
                <input type="checkbox" name="organisateur">Sorties dont je suis l'organisateur<br>
                <input type="checkbox" name="inscrit">Sorties auxquelles je suis inscrit<br>
                <input type="checkbox" name="pasInscrit">Sorties auxquelles je ne suis pas inscrit<br>
                <input type="checkbox" name="passees">Sorties passées<br>
            </div>
        </div>


        <table>
            <thead>
            <th>
                <tr>Nom de la sortie</tr>
                <tr>Date de la sortie</tr>
                <tr>Clôture</tr>
                <tr>Inscrits/Places</tr>
                <tr>Etat</tr>
                <tr>Inscrit</tr>
                <tr>Organisateur</tr>
                <tr>Actions</tr>
            </th>
            </thead>
            <tbody>
            {% for sortie in sorties %}

                <tr>
                    <td>{{ sortie.nom }}</td>

                    <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|format_datetime('short', 'short', locale='fr') : '' }}</td>

                    <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y') : '' }}</td>

                    <td>{{ sortie.nbInscriptionsMax }}</td>

                    <td>{{ sortie.etat.libelle}}</td>

                    <td>inscrit</td>

                   {% if not sortie.organisateur.pseudo %}
                       <td><a href="{{ path('participant_afficherProfil', {'id': sortie.organisateur.id}) }}">{{sortie.organisateur.prenom }} {{ sortie.organisateur.nom | slice(0,1)~"." }} </a></td>
                   {% else %}
                       <td><a href="{{ path('participant_afficherProfil', {'id': sortie.organisateur.id}) }}">{{sortie.organisateur.pseudo }} </a></td>
                   {% endif %}

                    <td>
                        {% if app.user.id == sortie.organisateur.id %}
                            <a href="#">Modifier</a>
                            <a href="#">Publier</a>
                            <a href="#">Annuler</a>
                        {% endif %}
                        <a href="#">Afficher</a>
                        <a href="#">Se désister</a>
                        <a href="#">S'inscrire</a>


                    </td>
                </tr>
            {% else %}
                <p>Aucune sortie</p>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('sortie_new', {'id': app.user.id}) }}">Créer une sortie</a>
    </main>
{% endblock %}
