{% extends 'base.html.twig' %}

{% block title %}Modifier Ville{% endblock %}

{% block body %}
    <h1>Modifier la Ville</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-info">{{ button_label|default('Modifier') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('ville_index') }}"  class="btn btn-outline-info">Retour</a>

    <a href="{{ path('ville_delete', {'id': ville.id}) }}"  class="btn btn-outline-danger">Supprimer</a>
{% endblock %}
