{% extends 'base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}
    <main>
        <h1>Gérer les villes</h1>
        <div>
            <p>
                Filtrer les villes
            </p>
            <div>
                <label for="site-search">Le nom contient:</label>
                <input type="search" id="site-search" name="q">
                <button>Rechercher</button>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Ville</th>
                    <th>Code postal</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for ville in villes %}
                <tr>
                    <td>{{ ville.nom }}</td>
                    <td>{{ ville.codePostal }}</td>
                    <td>
                        <a href="{{ path('ville_edit', {'id': ville.id}) }}" class="btn btn-outline-info">Modifier -</a>
                        <a href="{{ path('ville_delete', {'id': ville.id}) }}" class="btn btn-outline-danger">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucune ville trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('ville_new') }}" class="btn btn-outline-info">Ajouter</a>
    </main>
{% endblock %}
