{% extends 'base.html.twig' %}

{% block title %}Créer une Ville{% endblock %}

{% block body %}
    <h1>Créer une ville Ville</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-info" >{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('ville_index') }}"  class="btn btn-outline-info">Retour</a>
{% endblock %}
